{{> header}}

<!-- Navbar -->

    {{> navbar}}

    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hola {{ capitalizar nombre }}!</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam distinctio autem voluptatibus sapiente ratione voluptate. Accusamus esse adipisci corporis nihil dolorem necessitatibus saepe vero, ipsa aperiam earum ut provident quae.</p>
        </div>
    </div>

    <!-- footer -->
    {{> footer }}

